</div>
    <table class="table">
        <thead data-ng-hide="!($ctrl.contacts | nameFilter).length">
            <tr>
                <th>
                    Remove
                </th>
                <th>
                    Name
                </th>
                <th>
                    DOB
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Favorite
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="contact in $ctrl.contacts | nameFilter">
                <th>
                    <input type="checkbox" ng-model="$ctrl.selected[contact.Id]">
                </th>
                <th>
                    {{contact.FirstName + " " + contact.SecondName}}
                </th>
                <th >
                    {{contact.Dob | date: 'dd.MM.yyyy'}}
                </th>
                <th>
                    {{contact.Phone}}
                </th>
                <th>
                    <input type="checkbox" data-ng-model="contact.isFavorite"  data-ng-click="$ctrl.changeFavorite(contact.Id)" >
                </th>
                <th>
                   <a class="btn" href="#!edit/{{contact.Id}}">Edit</a>
                </th>
            </tr>
        </tbody>
</div>
<div data-ng-show="!($ctrl.contacts | nameFilter).length"> The search has not given any results </div> 