<h2>Favorite contacts:</h2>
 <div data-ng-show="!($ctrl.favoriteContacts | filter:contact.isFavorite=true).length">You don't have any favorite contacts!</div> 
 <div>
    <div class="row cardContainer">
        <div class="span3 card" data-ng-repeat="contact in $ctrl.favoriteContacts | filter:contact.isFavorite=true">
            <button class="btn close cardClose" data-ng-click="$ctrl.changeFavorite(contact.Id)">&times;</button>
            <div class="cardHeader">{{contact.FirstName + ' ' + contact.SecondName}}</div>
            <div class="cardBody">{{contact.Phone}}</div>
        </div>
    </div>
</div> 